#=====================================================================
# CODEOWNERS - Plantilla SENA
#=====================================================================

# 1. Regla General: Usuarios individuales (sin el prefijo de la organización)
*                  @LevinWolf01 @deivi19

# 2. Código fuente y documentación
/src/              @LevinWolf01 @deivi19
/docs/             @LevinWolf01 @deivi19

# 3. Configuración del flujo: SOLO el instructor
/.github/          @deivi19
/docs/rubrica-evaluacion.md @deivi19
